div,
button {
  margin: 10px;
}
#lyrics-text {
  white-space: pre-wrap;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

#lyrics-text {
  white-space: pre-wrap;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  display: inline-block;
}
body {
  margin: 0;
  padding: 0;
}

nav {
  background: #006400;
  height: 100px;
  width: 100%;
}

nav h1 {
  color: white;
  display: inline-block;
  font-size: 55px;
  line-height: 80px;
  padding: 10 100px;
  /* padding-bottom: 10px; */
  font-weight: bold;
}

nav p {
  color: white;
  font-size: 15px;
  display: inline-block;
  /* line-height: 80px; */
  /* padding: 0 100px; */
  font-weight: bold;
}

nav ul {
  float: right;
  /* font-size: 30px; */
  margin-right: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  /* background-color: black; */
  cursor: pointer;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  flex: auto;
  text-align: center;
  margin-right: 20px;
}

nav ul li :hover {
  background-color: white;
  color: black;
}

nav ul li a {
  color: white;
  font-size: 20px;
}
