* {
  text-decoration: none;
  list-style: none;
}

*::-webkit-scrollbar {
  background: var(--bg-dark);
  border-radius: 20px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

*::selection {
  background: var(--bg-tertiary);
  outline: white solid;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --bg-primary: #003e3e;
  --bg-secondary: #007c7c;
  --bg-tertiary: #00baba;
  --bg-dark: #002626;
  --text-highlight: #baf8f8;
  --text-highlight2: #5cffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Barlow", sans-serif;
  /* font-family: "Archivo Black", sans-serif; */
  font-weight: 900;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  /* background-color: #ededed; */
  background-color: var(--bg-dark);
  background-color: var(--bg-primary);
  /* text-emphasis-color: white; */
}

nav {
  background: var(--bg-primary);
  padding: 5px 20px;
  display: flex;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* makes text white */
.container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding-top: 30px;
  height: 90vh;
  padding: 20px;
  color: white;
  background-color: var(--bg-dark);
}

.container2 {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding-top: 30px;
  height: 90vh;
  padding: 20px;
  color: white;
  background-color: var(--bg-dark);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
}

.menu li {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

.menu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: var(--bg-secondary);
}

.header-text {
  display: inline-block;
}
.header-text p {
  text-align: center;
}

.header-text h1 {
  text-align: center;
}

.lyrics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-grow: 1;
}

.lyrics {
  /* font-family: Arial, Helvetica, sans-serif; */
}

.lyrics h1 {
  padding-bottom: 15px;
  text-align: center;
}

.nowPlaying {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 150px;
  align-self: flex-start;
  background-color: var(--bg-secondary);
  /* background-image: -moz-repeating-linear-gradient(); */
  /* opacity: 0.5; */
}

.savedLyrics {
  flex-grow: 1;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: auto; */
}

.savedLyrics2 {
  overflow: auto;
  height: 80vh;
}

.savedLyricObject {
  margin-top: 10px;
  padding: 10px;
  /* text-overflow: '..."'; */
}

.savedLyricObject em {
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: "test"; */
  /* max-lines: 2; */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.savedLyricObject p {
  font-weight: bold;
  color: var(--text-highlight);
  font-family: "Work Sans", sans-serif;
  /* font-family: "Barlow", sans-serif; */
}

.nowPlaying-savedLyrics {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.nowPlayingText {
  display: inline-block;
  margin: 10px;
}

.nowPlayingText p {
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
}

#currentTitle {
  /* color: var(--text-highlight2); */
  font-weight: bolder;
  text-decoration: underline;
  color: white;
}

#currentAlbum {
  color: var(--text-highlight);
  font-weight: bold;
}

#currentArtist {
  color: var(--text-highlight);
  font-weight: bold;
}

.nowPlayingImage {
  display: inline-block;
}

#nowPlayingSongInfo {
  display: flex;
  /* height: 0%; */
  /* display: inline-block; */
}

#lyrics-text {
  overflow-y: auto;
  white-space: pre-wrap;
  text-align: center;
  height: 80vh;
  font-size: 1.08rem;
  max-width: 600px;
}

button {
  border-radius: 25px;
  color: white;
  background-color: var(--bg-secondary);
}

nav h1 {
  margin: 5px;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  /* padding: 10 100px; */
  font-weight: bold;
}

nav p {
  margin: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

hr {
  background-color: var(--text-highlight);
  border-color: var(--text-highlight);
}

#lyricsPageTitle h1 {
  margin-bottom: 15px;
  /* text-decoration: underline; */
  /* padding-bottom: 5px; */
}
